body{
    box-sizing: border-box;
}
section{
    width: 50%;
    padding: 10px;
    border: 1px;
    float: left;
}
#sec1{
    background: blue ;
    color: white;
    font-style: italic;
    text-transform: capitalize;
}
#sec2{
    background: red;
    color: white;
    font-weight: bold;
    text-transform:initial
}
