*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1{
    font-size: larger 75%;
    text-align: center;
    color:rgb(0, 0, 117);
    border: solid blueviolet 5px;
}
.Box{
    position: relative;
    margin: 1% 1.5% 3% 1.5%;
    padding: 1.5%;
    display: block;
    border: 1px solid black;
    box-sizing: border-box;
}

.title{
    text-align: center;
    background-color:rgb(54, 0, 0) ;
    color: azure;
    border: 1px solid white; 
    padding: 1% 2% 1% 2%;
    box-sizing: border-box;
    position: absolute;
    top: 0px; right: 0px;
}

.not{
    float: right;
    color: transparent;
    margin: 1%;
}

p{
    font-size: larger 25%;
    clear: both;

}

#chicken{
    background-color: rgb(224, 255, 112);
    border-color: black;
    box-sizing: border-box;
}

#beef{
   
    background-color: rgb(255, 112, 112);
    border-color: black;
    box-sizing: border-box;
}

#sushi{
    
    background-color: rgb(112, 245, 255);
    border-color: black;
    box-sizing: border-box;
}

ul{
    margin: 1%;
    font-style: italic;
    text-align: center;
    list-style: none;
}


@media (min-width: 992px){
    .Box{
        width: 30.3%;
        float: left;
    }
    
}

@media (min-width: 768px) and (max-width: 991px){
    
    #chicken, #beef{
       width: 47%;
       float: left;
       box-sizing: border-box;
   }
    #sushi{
        width: 97%;
        box-sizing: border-box;
        clear: left;
        
    }
}