*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h1{
    text-align: center;
    color:navy;
}
.Box{
    position: relative;
    margin: 40px;
    padding: 15px;
}

.title{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: azure;
    border-color: white;
    border: 1px solid white; 
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    position: absolute;
    top: 0px; right: 0px;
}

p{
    margin-top: 40px;
}

#chicken{
    background-color: rgb(224, 255, 112);
    border-color: black;
    box-sizing: border-box;
}

#beef{
   
    background-color: rgb(255, 112, 112);
    border-color: black;
    box-sizing: border-box;
}

#sushi{
    
    background-color: rgb(112, 245, 255);
    border-color: black;
    box-sizing: border-box;
}

@media (min-width: 992px){
    .Box{
        width: 33%;
        float: left;
        margin: 30px;
        border: 1px solid black ;
    }
    
}

@media (min-width: 768px) and (max-width: 991px){
    
    .Box{
        margin: 30px;
    }

    #chicken, #beef{
       width: 43%;
       float: left;
       box-sizing: border-box;
   }
    #sushi{
        width: 100%-60px;
        box-sizing: border-box;
        clear: left;
        
    }
}