body{
    background-color:rgb(177, 68, 177);
}

#header-nav{
    background-color: aqua;
    border-radius: 0;
    border: 0;
}


#logo-im{
    background: url(https://img.lovepik.com/original_origin_pic/19/01/15/c97a3d2a9763c6b39680e7ad5ad23e54.png_wh860.png);
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}


